# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

trigger:
  batch: true
  branches:
    include:
      - master
      - feature/*

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: test
  displayName: Test
  jobs:
  - job: test
    displayName: Test
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
    - task: Gradle@2
      displayName: 'Run unit tests'
      inputs:
        gradleWrapperFile: 'gradlew'
        tasks: 'testRelease'
        publishJUnitResults: true
        testResultsFiles: '**/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        sonarQubeRunAnalysis: true
        sqGradlePluginVersionChoice: 'build'
        spotBugsAnalysis: false
- stage: build
  displayName: Build
  jobs:
  - job: build
    displayName: Build    
    steps:
    - checkout: self
      fetchDepth: 0
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'
    - task: SonarCloudPrepare@1
      inputs:
        SonarCloud: 'Sonar'
        organization: 'carles-cs'
        scannerMode: 'Other'
        extraProperties: |
          # Additional properties that will be passed to the scanner, 
          # Put one key=value per line, example:
          # sonar.exclusions=**/*.bin
          sonar.projectKey=carles-cs_QrReader
          sonar.projectName=QrReader
    - task: Gradle@2
      inputs:
        gradleWrapperFile: 'gradlew'
        tasks: 'bundleRelease'
        publishJUnitResults: true
        testResultsFiles: '**/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        sqGradlePluginVersionChoice: 'specify'
        sonarQubeGradlePluginVersion: '5.0.0.4638'
        spotBugsAnalysis: false
    - task: CopyFiles@2
      displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
      inputs:
        SourceFolder: '$(build.sourcesdirectory)'
        Contents: '**/*.aab'
        TargetFolder: '$(build.artifactstagingdirectory)'
      condition: succeededOrFailed()
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(build.artifactstagingdirectory)'
        artifact: 'drop'
        publishLocation: 'pipeline'
    - task: DownloadSecureFile@1
      inputs:
        secureFile: 'debugkeystore.jks'
    - task: CmdLine@2
      inputs:
        script: 'jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore $(Agent.TempDirectory)/debugkeystore.jks -storepass 43128927 $(build.artifactstagingdirectory)/app/build/outputs/bundle/release/app-release.aab carles'
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(build.artifactstagingdirectory)'
        artifact: 'drop-signed'
        publishLocation: 'pipeline'
- stage: release
  displayName: 'Release to AppStore'
  condition: succeeded()
  jobs: 
  - deployment: deploy
    pool:
      vmImage: 'windows-latest'
    environment: PlayStore
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'drop-signed'
              targetPath: $(System.DefaultWorkingDirectory)
          - task: GooglePlayRelease@4
            inputs:
              serviceConnection: 'Google Play'
              applicationId: 'cat.company.qrreader'
              action: 'SingleBundle'
              bundleFile: '$(System.DefaultWorkingDirectory)/app/build/outputs/bundle/release/app-release.aab'
              track: 'alpha'
- stage: promote
  displayName: 'Promote to Release track'
  condition: and(succeeded(),eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
    - deployment: promote
      pool:
        vmImage: 'windows-latest'
      environment: PlayStore
      strategy:
        runOnce:
          deploy:
            steps:
            - task: GooglePlayPromote@3
              inputs:
                serviceConnection: 'Google Play'
                packageName: 'cat.company.qrreader'
                sourceTrack: 'alpha'
                destinationTrack: 'production'
                —ÅleanTheSourceTrack: false